<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <title>Assignment Timetable</title>
</head>
<style>
    body {
      background-image: url("{% static 'img4.png' %}");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
<body>
<center><br><br>
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter"> WELCOME TO ASSIGNMENT <br>TIMETABLE TRACKING SYSTEM</h3>
          </div>
        </div>
      </div>
    <center><br><br><br><br><br>
        <center><a href="{% url 'login' %}"> <button class="button-64" role="button"><span class="text">LOGIN</button></a></center>
</div>
</center>
<style>
    body{
    font-size: 14px;}
</style>
</body>
</html>