<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <title>Search Course</title>
</head>
<style>
  body {
    background-image: url("{% static 'img5.png' %}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<body>
    <nav>
        <div class="logo">
          Course Details
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
        </label>
        <ul>
          <li><a  class="active" href="{% url 'searchSubject' %}">Course</a></li>
         <li><a  href="{% url 'list_subject' %}">Subject</a></li>
          <li><a href="{% url 'assignment' %}">New Assignments</a></li>
          <li><a href="{% url 'list_assignment' %}">Assignments Tracking</a></li>
          <li><a href="{% url 'index' %}">Log Out</a></li>
       </ul>
     </nav>
    
 <br><br> 
    <div class="table-container">
    <table>
        <thead>
      <tr>
        <th>Course Code</th>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Credit Hours</th>
        <th>Lecturer Name</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <td>{{ subject.courseCode }}</td>
          <td>{{ subject.subjectCode }}</td>
          <td>{{ subject.subjectName }}</td>
          <td>{{ subject.credithours }}</td>
          <td>{{ subject.lecturerName }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
    <br><br>
    <center><a href="{% url 'homepage' %}"> <button class="button-64" role="button"><span class="text">HOME</button></a></center>
</body>
</html>